<app-encabezado titulo="Saludador" color="primary" subtitulo="Bienvenido"></app-encabezado>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      label="Tu nombre"
      labelPlacement="floating"
      placeholder="Escribe tu nombre"
      [(ngModel)]="nombre"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="saludar()">Saludar</ion-button>

  @if (saludo) {
    <h1 class="ion-text-center">{{ saludo }}</h1>
  }

  <ion-button expand="block" [routerLink]="['/home/consejo']">
    Ver consejo (ruta hija)
  </ion-button>

  <ion-button expand="block" [routerLink]="['/home/ayuda']">
    Ver ayuda (ruta hija)
  </ion-button>

  <router-outlet></router-outlet>
</ion-content>